# Node
node_modules/

# Virtual environments
.venv/

# Byte-compiled Python
__pycache__/

# Python distribution & packaging
*.egg-info/
build/
dist/

# Ruff
.ruff_cache/

# Mypy
.mypy_cache/

# Pytest
.pytest_cache/

# Coverage.py
.coverage
coverage.xml
